@import '../abstract/variaveis';

.banner {
    background: url(../../imagens/home-banner.jpg) 27% center no-repeat;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    .inner-banner {
        padding: 3rem;
        background-color: $cor-terciaria;
        opacity: 0.9;
        border-radius: 10px;
        h1 {
            font-size: $tamanho-do-texto;
            color: $cor-primaria;
        }
        h2 {
            font-size: $tamanho-do-texto / 2;
            color: $cor-secundaria;
        }
    }
}