@import '../abstract/variaveis';

#curiosidades {
    padding: 1rem;
    text-align: center;
    margin: 5px;
    h3 {
        color: $cor-primaria;
        font-size: $tamanho-do-texto/2.5;
    }
    h4 {
        color: $cor-secundaria;
        font-size: $tamanho-do-texto/3;
    }
    p {
        margin-top: 5px;
        color: $cor-primaria;
    }
    .svg-banner {
        margin: auto;
        width: 500px;
        img {
            padding-top: 20px;
            padding-bottom: 20px;
            max-width: 100%;
        }
    }
}