html, body {
  font-family: "Roboto", sans-serif;
}

nav {
  text-align: center;
}
nav ul li {
  display: inline-block;
  padding: 1rem;
}
nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: #495371;
}
nav ul li a:hover {
  border-bottom: 2px solid #74959A;
}

.banner {
  background: url(../../imagens/banner.jpeg) 27% center no-repeat;
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
}
.banner .inner-banner {
  padding: 3rem;
  background-color: #F1E0AC;
  opacity: 0.9;
  border-radius: 10px;
}
.banner .inner-banner h1 {
  font-size: 3rem;
  color: #495371;
}
.banner .inner-banner h2 {
  font-size: 1.5rem;
  color: #74959A;
}

#alimentacao {
  margin: 80px;
}
#alimentacao h4 {
  font-size: 1.2rem;
  color: #74959A;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin: 1rem;
}
#alimentacao h3 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 80px;
  font-weight: 300;
}
#alimentacao .cards {
  display: flex;
  justify-content: space-evenly;
}
#alimentacao .cards .card {
  width: 360px;
  text-align: center;
}
#alimentacao .cards .card h5 {
  font-size: 2rem;
  font-weight: 300;
  margin-top: 25px;
  margin-bottom: 20px;
  color: #495371;
}
#alimentacao .cards .card p {
  font-size: 1.5rem;
  font-weight: 300;
  color: #74959A;
}
#alimentacao .cards .card .img-container {
  padding-bottom: 2px;
  border-bottom: 6px solid #74959A;
}
#alimentacao .cards .card .img-container img {
  max-width: 100%;
}

#descanso {
  margin: 80px;
}
#descanso h4 {
  font-size: 1.2rem;
  color: #74959A;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin: 1rem;
}
#descanso h3 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 80px;
  font-weight: 300;
}
#descanso .cards {
  display: flex;
  justify-content: space-evenly;
}
#descanso .cards .card {
  width: 360px;
  text-align: center;
}
#descanso .cards .card h5 {
  font-size: 2rem;
  font-weight: 300;
  margin-top: 25px;
  margin-bottom: 20px;
  color: #495371;
}
#descanso .cards .card p {
  font-size: 1.5rem;
  font-weight: 300;
  color: #74959A;
}
#descanso .cards .card .img-container {
  padding-bottom: 2px;
  border-bottom: 6px solid #74959A;
}
#descanso .cards .card .img-container img {
  max-width: 100%;
}

#exercicio {
  margin: 80px;
}
#exercicio h4 {
  font-size: 1.2rem;
  color: #74959A;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin: 1rem;
}
#exercicio h3 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 80px;
  font-weight: 300;
}
#exercicio .cards {
  display: flex;
  justify-content: space-evenly;
}
#exercicio .cards .card {
  width: 360px;
  text-align: center;
}
#exercicio .cards .card h5 {
  font-size: 2rem;
  font-weight: 300;
  margin-top: 25px;
  margin-bottom: 20px;
  color: #495371;
}
#exercicio .cards .card p {
  font-size: 1.5rem;
  font-weight: 300;
  color: #74959A;
}
#exercicio .cards .card .img-container {
  padding-bottom: 2px;
  border-bottom: 6px solid #74959A;
}
#exercicio .cards .card .img-container img {
  max-width: 100%;
}

#cupom {
  background-color: #F1E0AC;
  padding: 4rem;
  text-align: center;
}
#cupom .texto {
  color: #495371;
}
#cupom .texto h2 {
  margin: 2rem;
  font-size: 1.7647058824rem;
}
#cupom .input {
  margin: auto;
  width: 575px;
  border-radius: 20px;
  border: 4px solid white;
  background-color: white;
}
#cupom .input input {
  border-radius: 20px;
  height: 40px;
  border: none;
  width: 540px;
  outline: none;
  text-align: center;
  font-size: 20px;
}
#cupom .input:hover, #cupom .input:focus-within {
  box-shadow: 1px 1px 8px 1px #495371;
  outline: none;
}
#cupom button {
  text-transform: uppercase;
  margin-top: 0.75rem;
  outline: none;
  height: 40px;
  text-align: center;
  width: 130px;
  background-color: #495371;
  color: #F1E0AC;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: bold;
  border: 2px black;
  border-radius: 40px;
  cursor: pointer;
}
#cupom button:hover {
  color: #495371;
  background-color: #74959A;
  border-color: #F1E0AC;
}

footer {
  text-align: center;
  font-size: 1.5rem;
  border-top: 2px solid #495371;
  margin-top: 1rem;
  padding: 1.2rem;
  background: linear-gradient(to left, #495371, #F1E0AC, #F1E0AC);
}
footer i {
  color: red;
}

#curiosidades {
  padding: 1rem;
  text-align: center;
  margin: 5px;
}
#curiosidades h3 {
  color: #495371;
  font-size: 1.2rem;
}
#curiosidades h4 {
  color: #74959A;
  font-size: 1rem;
}
#curiosidades p {
  margin-top: 5px;
  color: #495371;
}/*# sourceMappingURL=style.css.map */